.footer-inner
  padding 3rem 0 1rem 0
  text-align center

  & > div:not(:first-child)
    margin .25rem 0
    font-size .85rem

  .statistics
    display flex
    flex-direction row
    justify-content center

    & > span
      flex 1
      margin 0 .25rem

    & > *:nth-last-child(2):first-child
      text-align right

    & > *:nth-last-child(2):first-child ~ *
      text-align left

  @media (max-width: 424px)
    .statistics
      flex-direction column

      & > *:nth-last-child(2):first-child
        text-align center

      & > *:nth-last-child(2):first-child ~ *
        text-align center
